.vscode/**
.git/**
.gitignore
.eslintrc.json
.nyc_output
coverage
node_modules/**
out/test/**
src/**
!src/**/*.js
!src/**/*.ts
!src/**/*.tsx
!src/**/*.jsx
!out/**/*.js
!out/**/*.ts
!out/**/*.tsx
!out/**/*.jsx
**/*.map
**/*.tsbuildinfo
**/*.md
**/*.txt
**/*.json
!package.json
!package.nls.json
!package.nls.*.json
!README.md
!README.en.md
!CHANGELOG.md
!LICENSE
!images/**